/* FONTS */
/* IMPORTS */
@import url("https://use.typekit.net/tqw1iux.css");
/* RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

/* NAVBAR */
/* CONTENT */
/* CONTENT */
h1, h2 {
  font-family: wayfinder-cf, serif;
  font-size: 8rem;
  line-height: 7rem;
  color: black; }

h1 {
  font-size: 4rem;
  font-weight: 100; }

main {
  background-color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
