/* IMPORTS */
@import url("https://use.typekit.net/tqw1iux.css");

$fontDisplay: wayfinder-cf,serif;
$fontDisplayThin: 100;
$fontDisplayRegular: 400;
$fontDisplayBold: 700;
$fontDisplayHeavy: 900;